body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header {
    margin: 15px 0;
}

    .navbar-header .sync-logo-img {
        background-image: url(https://cdn.syncfusion.com/content/images/Logo/Logo_150dpi.png);
        background-size: 160px 36px;
        position: absolute;
        width: 160px;
        height: 36px;
    }

    .navbar-header .title {
        margin-left: 170px;
        margin-bottom: 0 !important;
        color: white;
        margin-top: 4px;
    }
