$color_cookies: #8B6D3B;
$color_cookiesBG: #FBF7E3;
$color_snowWhite: #fcfcfc;
$color_stackDenimBlue: #3C78EF;
$color_stacklightDenimBlue: #276FE3;
$color_nightRiderBlack: #333333;
$color_stackGray: #777777;
$color_white: #fff;
$color_socicon_googleplus: #dc443b;
$color_socicon_facebook: #3b5998;
$color_socicon_twitter: #01abec;
$color_socicon_linkedin: #0e76a8;
$color_stackDimGray: #636363;
$color_validationRed: #D84D4D;
$color_black: #000000;
$color_charcoalBlack: #484848;
$color_stacklightgray: #eeeeee;
$color_whitesmokeGray: #EFEFEF;
$color_Pelorousblue: #3CA7B5;
$color_CarrotOrange :#F7941E;
$color_buttonHover: #609de6;
$color_searchTextColor: #999;
$color_grayBorder: #C3C3C3;
$color_linkHover: #1D64D6;
$color_yellowlink: #FDEF42;
$color_yellowlinkhover: #FFED6C;
$color_Nero: #1a1a1a;
$color_RoyalBlue: #3B78E7;
$color_yellownew: #F9FF00;
$color_ChartreuseYellow: #E8E800;
$color_Eclipse: #3f3f3f;
$ebook_banner_bg_color: #342660;
$ebook_banner_text_color: #eae7ee;
$color_Nobel: #949494;
$color_Denim: #0450C2;

